node_modules
./dist
.pnpm-store
/extensions/*
themes
.idea/*
.evershop
.vscode
npm-debug.log
/package-log.json
/media
.DS_Store
.log
coverage
cypress
/config
.prettierignore
.prettierrc
mysqlToPostgres.js
.env
.env.prod