$slogan-width: 460px;

.main-banner-home {
  background-image: url("/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 490px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #685f58;
    opacity: 0.35;
    z-index: 1;
  }
  .container {
    z-index: 10;
  }
  .button {
    margin-top: 27px;
  }
  h2.h1 {
    color: var(--primary);
    letter-spacing: 0;
    font-size: 3.2rem;
    line-height: 4.2rem;
    @media screen and (min-width: 768px) {
      font-size: 5.5rem;
      line-height: 6.5rem;
    }
  }

  .slogan-container {
    width: $slogan-width;
  }
  
  .slogan {
    position: absolute;
    bottom: 100px;
    font-weight: 800;
    width: $slogan-width;
    color: white;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: .3);
  }
}

#app {
  .header {
    margin-bottom: 0;
  }
  .button {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}


