.logo {
  display: flex;
  a.logo-icon {
    svg {
      width: 3rem;
      height: 3rem;
    }
    margin-right: 0.5rem;
  }
}

.bmo-logo-font {
  font-size: 24px;
  vertical-align: middle;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
  color: #0078c1;
}
